<nav>
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/admin/users">Users</a></li>
    <li class="breadcrumb-item active">{{user?.id}}</li>
  </ol>
</nav>

<div class="container" *ngIf="user">
  <div>
    <div class="card">
      <div class="card-header" (click)="isCollapsed = !isCollapsed">
        User
      </div>

      <div id="collapse" class="collapse show" [ngbCollapse]="isCollapsed">
        <div class="card-body">
          <p>Login: {{user.login}}</p>

          <div class="row">
            <div class="col-6">
              <p>Role: {{userRole[user.role]}}</p>
            </div>
            <div class="col-6">
              <p>Status: {{userStatus[user.status]}}</p>
            </div>
          </div>

          <div class="form-group">
            <label for="textAreaData">Data (json):</label>
            <textarea readonly class="form-control-plaintext" id="textAreaData" rows="3" [(ngModel)]="user.data"></textarea>
          </div>

          <button class="btn btn-primary float-right btn-edit" (click)="openEditUserModal(editUserModal)">Edit</button>
        </div>
      </div>
    </div>
  </div>

  <ngb-tabset *ngIf='user.role !== userRole.ADMIN'>
    <ngb-tab title="Networks">
      <ng-template ngbTabContent>
        <table class="table">
          <thead class="thead-light">
            <tr>
              <th scope="col">Network</th>
              <th scope="col">Description</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let network of user.networks">
              <td>{{network.name}}</td>
              <td>{{network.description}}</td>
              <td>
                <button class="btn btn-danger btn-sm" (click)="revokeAccessToNetwork(network)">Revoke access</button>
              </td>
            </tr>
          </tbody>
        </table>
        <p *ngIf="user.networks.length === 0" class="text-center">This user does not belong to any networks</p>

        <form class="form-inline">
          <label class="mr-2" for="inputNetwork">Grant access to network</label>
          <div class="input-group mb-3">
            <input
              id="inputNetwork"
              type="text"
              class="form-control"
              placeholder="Select a network"
              [(ngModel)]="selectedNetwork"
              [ngModelOptions]="{standalone: true}"
              [ngbTypeahead]="searchNetwork"
              (focus)="networksFocus.next($event.target.value)"
              (click)="networksClick.next($event.target.value)"
              [inputFormatter]="formatter"
              [resultTemplate]="rt"
              #networksTypeahead="ngbTypeahead"
            />
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button" (click)="clearSelectedNetwork()">Clear</button>
              <button class="btn btn-primary" (click)="grantAccessToNetwork()" [attr.disabled]="selectedNetwork ? null : true">Grant access</button>
            </div>
          </div>
        </form>

      </ng-template>
    </ngb-tab>

    <ngb-tab title="Device Types">
      <ng-template ngbTabContent>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="allDeviceTypeCheck"
                 [(ngModel)]="user.allDeviceTypesAvailable" (ngModelChange)="toggleAllowAllDeviceTypes()">
          <label class="form-check-label" for="allDeviceTypeCheck">All device types are available to user</label>
        </div>

        <table class="table" *ngIf="!user.allDeviceTypesAvailable">
          <thead class="thead-light">
            <tr>
              <th scope="col">Device Type</th>
              <th scope="col">Description</th>
              <th scope="col"></th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let deviceType of userDeviceTypes">
              <td>{{deviceType.name}}</td>
              <td>{{deviceType.description}}</td>
              <td>
                <button class="btn btn-danger btn-sm" (click)="revokeAccessToDeviceType(deviceType)">Revoke access</button>
              </td>
            </tr>
          </tbody>
        </table>
        <p *ngIf="!user.allDeviceTypesAvailable && userDeviceTypes.length === 0" class="text-center">This user does not have access to any device types</p>

        <form class="form-inline" *ngIf="!user.allDeviceTypesAvailable">
          <label class="mr-2" for="inputDeviceType">Grant access to device type</label>
          <div class="input-group mb-3">
            <input
              id="inputDeviceType"
              type="text"
              class="form-control"
              placeholder="Select a device type"
              [(ngModel)]="selectedDeviceType"
              [ngModelOptions]="{standalone: true}"
              [ngbTypeahead]="searchDeviceType"
              (focus)="deviceTypesFocus.next($event.target.value)"
              (click)="deviceTypesClick.next($event.target.value)"
              [inputFormatter]="formatter"
              [resultTemplate]="rt"
              #deviceTypesTypeahead="ngbTypeahead"
            />
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button" (click)="clearSelectedDeviceType()">Clear</button>
              <button class="btn btn-primary" (click)="grantAccessToDeviceType()">Grant access</button>
            </div>
          </div>

        </form>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>

<ng-template #editUserModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Edit user</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Close')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body" *ngIf="editUser">
    <dh-user [user]="editUser"></dh-user>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="d('Cancel')">Cancel</button>
    <button type="button" class="btn btn-success" (click)="updateUser()">Save</button>
  </div>
</ng-template>
<ng-template #rt let-r="result" let-t="term">{{r.name}}</ng-template>
