<div class="form-group">
  <label for="inputLogin">Login</label>
  <input type="text" class="form-control" id="inputLogin" placeholder="Login" [(ngModel)]="user.login">
</div>

<div class="form-row">
  <div class="form-group col-6">
    <label for="inputRole">Role</label>
    <select id="inputRole" class="form-control" [(ngModel)]="user.role">
      <option *ngFor="let item of userRole | keys" [value]="item.key">{{item.value}}</option>
    </select>
  </div>
  <div class="form-group col-6">
    <label for="inputStatus">Status</label>
    <select id="inputStatus" class="form-control" [(ngModel)]="user.status">
      <option *ngFor="let item of userStatus | keys" [value]="item.key">{{item.value}}</option>
    </select>
  </div>
</div>

<div class="form-row">
  <div class="form-group col-6">
    <label for="inputPassword">Password</label>
    <input type="password" class="form-control" id="inputPassword" placeholder="Password" [(ngModel)]="user.password">
  </div>
  <div class="form-group col-6">
    <label for="inputConfirmPassword">Confirm password</label>
    <input type="password" class="form-control" id="inputConfirmPassword" placeholder="Confirm password" [(ngModel)]="user.passwordConfirmation">
  </div>
</div>

<div class="form-group">
  <label for="textAreaData">Data (json)</label>
  <textarea class="form-control" id="textAreaData" rows="3" [(ngModel)]="user.data"></textarea>
</div>
