<div class="container">
  <table class="table">
    <thead class="thead-light">
    <tr>
      <th scope="col">Device Type</th>
      <th scope="col">Description</th>
      <th scope="col">Actions</th>
    </tr>
    </thead>

    <tbody>
    <tr>
      <td>Thermostats</td>
      <td>Devices to control thermostat settings and to report current temperatures</td>
      <td>
        <button class="btn btn-primary btn-sm" (click)="openEditDeviceTypeModal(editDeviceTypeModal)">Edit</button>
        <button class="btn btn-danger btn-sm">Delete</button>
      </td>
    </tr>

    <tr>
      <td>Thermostats</td>
      <td>Devices to control thermostat settings and to report current temperatures</td>
      <td>
        <button class="btn btn-primary btn-sm" (click)="openEditDeviceTypeModal(editDeviceTypeModal)">Edit</button>
        <button class="btn btn-danger btn-sm">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>

  <nav>
    <ul class="pagination justify-content-center">
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1">Previous</a>
      </li>
      <li class="page-item active"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#">Next</a>
      </li>
    </ul>
  </nav>

  <button class="btn btn-success float-right" (click)="openNewDeviceTypeModal(newDeviceTypeModal)">Add new device type</button>
</div>

<ng-template #newDeviceTypeModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Create new device type</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Close')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <dh-device-type></dh-device-type>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="d('Cancel')">Cancel</button>
    <button type="button" class="btn btn-success" (click)="c('Save')">Save</button>
  </div>
</ng-template>

<ng-template #editDeviceTypeModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Device type</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Close')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <dh-device-type></dh-device-type>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="d('Cancel')">Cancel</button>
    <button type="button" class="btn btn-success" (click)="c('Save')">Save</button>
  </div>
</ng-template>
