<div class="container">
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">Network</th>
        <th scope="col">Description</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let network of networks">
        <td>{{network.name}}</td>
        <td>{{network.description}}</td>
        <td>
          <button class="btn btn-primary btn-sm" (click)="openNetworkModal(editNetworkModal, network)">Edit</button>
          <button class="btn btn-danger btn-sm" (click)="deleteNetwork(network)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>

  <nav>
    <ul class="pagination justify-content-center">
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1">Previous</a>
      </li>
      <li class="page-item active"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#">Next</a>
      </li>
    </ul>
  </nav>

  <button class="btn btn-success float-right" (click)="openNetworkModal(newNetworkModal)">Add new network</button>
</div>

<ng-template #newNetworkModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Create new network</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Close')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body" *ngIf="newNetwork">
    <dh-network [network]="newNetwork"></dh-network>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="d('Cancel')">Cancel</button>
    <button type="button" class="btn btn-success" (click)="createNetwork()">Save</button>
  </div>
</ng-template>

<ng-template #editNetworkModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Network</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Close')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body" *ngIf="selectedNetwork">
    <dh-network [network]="selectedNetwork"></dh-network>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="d('Cancel')">Cancel</button>
    <button type="button" class="btn btn-success" (click)="updateSelectedNetwork()">Save</button>
  </div>
</ng-template>
