<div class="container">
  <table class="table">
    <thead class="thead-light">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Network</th>
      <th scope="col">Device Type</th>
      <th scope="col">Operation</th>
      <th scope="col">Data</th>
      <th scope="col">Actions</th>
    </tr>
    </thead>

    <tbody>
    <tr>
      <td>alexa-device-1</td>
      <td>alexa-network</td>
      <td>Default Device Type</td>
      <td>Normal</td>
      <td>empty</td>
      <td>
        <button class="btn btn-info btn-sm" (click)="openDeviceDetails(null)">Details</button>
        <button class="btn btn-danger btn-sm">Delete</button>
      </td>
    </tr>

    <tr>
      <td>alexa-device-1</td>
      <td>alexa-network</td>
      <td>Default Device Type</td>
      <td>Normal</td>
      <td>empty</td>
      <td>
        <button class="btn btn-info btn-sm" (click)="openDeviceDetails(null)">Details</button>
        <button class="btn btn-danger btn-sm">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>

  <nav>
    <ul class="pagination justify-content-center">
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1">Previous</a>
      </li>
      <li class="page-item active"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#">Next</a>
      </li>
    </ul>
  </nav>

  <button class="btn btn-success float-right" (click)="openNewDeviceModal(newDeviceModal)">Add new device</button>
</div>

<ng-template #newDeviceModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Create new device</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Close')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <dh-device></dh-device>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="d('Cancel')">Cancel</button>
    <button type="button" class="btn btn-success" (click)="c('Save')">Save</button>
  </div>
</ng-template>
