<div class="container">
  <div class="table-container">
    <table class="table">
      <thead class="thead-light">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Network</th>
        <th scope="col">Device Type</th>
        <th scope="col">Operation</th>
        <th scope="col">Data</th>
        <th scope="col" class="actions-column">Actions</th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let device of devices">
        <td class="text-truncate" placement="bottom" data-container="body" [ngbTooltip]="device.name">{{device.name}}</td>
        <td class="text-truncate" placement="bottom" data-container="body" [ngbTooltip]="findNetworkNameById(device.networkId)">{{findNetworkNameById(device.networkId)}}</td>
        <td class="text-truncate" placement="bottom" data-container="body" [ngbTooltip]="findDeviceTypeNameById(device.deviceTypeId)">{{findDeviceTypeNameById(device.deviceTypeId)}}</td>
        <td>{{device.isBlocked ? 'Blocked' : 'Normal'}}</td>
        <td>{{!!device.data ? (device.data | json) : null}}</td>
        <td>
          <button class="btn btn-info btn-sm" (click)="openDeviceDetails(device)">Details</button>
          <button class="btn btn-danger btn-sm" (click)="deleteDevice(device)">Delete</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <!--<nav>-->
    <!--<ul class="pagination justify-content-center">-->
      <!--<li class="page-item disabled">-->
        <!--<a class="page-link" href="#" tabindex="-1">Previous</a>-->
      <!--</li>-->
      <!--<li class="page-item active"><a class="page-link" href="#">1</a></li>-->
      <!--<li class="page-item"><a class="page-link" href="#">2</a></li>-->
      <!--<li class="page-item"><a class="page-link" href="#">3</a></li>-->
      <!--<li class="page-item">-->
        <!--<a class="page-link" href="#">Next</a>-->
      <!--</li>-->
    <!--</ul>-->
  <!--</nav>-->

  <button class="btn btn-success float-right btn-add" (click)="openNewDeviceModal(newDeviceModal)">Add new device</button>
</div>

<ng-template #newDeviceModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Create new device</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Close')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body" *ngIf="newDevice">
    <dh-device [device]="newDevice" [networks]="networks" [deviceTypes]="deviceTypes"></dh-device>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="d('Cancel')">Cancel</button>
    <button type="button" class="btn btn-success" (click)="createDevice()">Save</button>
  </div>
</ng-template>
