<div class="form-group">
  <label for="inputLogin">Login</label>
  <input type="text" class="form-control" id="inputLogin" placeholder="Login">
</div>

<div class="form-row">
  <div class="form-group col-6">
    <label for="inputRole">Role</label>
    <select id="inputRole" class="form-control">
      <option selected>Administrator</option>
      <option>Client</option>
    </select>
  </div>
  <div class="form-group col-6">
    <label for="inputStatus">Status</label>
    <select id="inputStatus" class="form-control">
      <option selected>Active</option>
      <option>Locked Out</option>
      <option>Disabled</option>
    </select>
  </div>
</div>

<div class="form-row">
  <div class="form-group col-6">
    <label for="inputPassword">Password</label>
    <input type="password" class="form-control" id="inputPassword" placeholder="Password">
  </div>
  <div class="form-group col-6">
    <label for="inputConfirmPassword">Confirm password</label>
    <input type="password" class="form-control" id="inputConfirmPassword" placeholder="Confirm password">
  </div>
</div>

<div class="form-group">
  <label for="textAreaData">Data (json)</label>
  <textarea class="form-control" id="textAreaData" rows="3"></textarea>
</div>
