<nav class="navbar navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">DeviceHive</a>
</nav>

<div class="container">
  <div class="row align-items-center justify-content-center"
       [ngClass]="{'was-validated': hasErrors}">
    <form class="col-6 needs-validation" (ngSubmit)="logIn()" novalidate>
      <div class="form-group">
        <label for="inputLogin">Login</label>
        <input type="text" class="form-control" id="inputLogin"
               [(ngModel)]="login" name="login" #inputLogin placeholder="Enter login" required minlength="1">
        <div class="invalid-feedback">
          Please provide a valid login.
        </div>
      </div>
      <div class="form-group">
        <label for="inputPassword">Password</label>
        <input type="password" class="form-control" id="inputPassword"
               [(ngModel)]="password" name="password" #inputPassword placeholder="Enter password" required minlength="1">
        <div class="invalid-feedback">
          Please provide a valid password.
        </div>
      </div>
      <button class="btn btn-primary" type="submit" [disabled]="isSubmitting">Log in</button>
    </form>
  </div>
</div>

<nav class="navbar fixed-bottom navbar-expand navbar-light bg-light">
  <div class="navbar-text m-auto">
    Developed by DataArt Solutions 2012-2018
  </div>
</nav>
