<div class="container">
  <div *ngIf="accessToken && refreshToken">
    <div class="list-group">
      <a class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5>Access Token</h5>
        </div>
        <p>{{accessToken}}</p>
      </a>

      <a class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5>Refresh Token</h5>
        </div>
        <p>{{refreshToken}}</p>
      </a>
    </div>
  </div>

  <form class="form-inline">
    <div class="form-group">
      <div class="input-group">
        <ngb-timepicker name="tp" [(ngModel)]="time" [spinners]="false"></ngb-timepicker>
        <input class="form-control" placeholder="yyyy-mm-dd"
               name="dp" ngbDatepicker [(ngModel)]="date" #d="ngbDatepicker">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
            Set expiration date
          </button>
        </div>
      </div>
    </div>
    <button class="btn btn-primary btn-create-tokens" (click)="createTokens()">Create tokens</button>
  </form>
</div>
