<div class="form-group">
  <label for="inputName">Name</label>
  <input type="text" class="form-control" id="inputName" placeholder="Name">
</div>

<div class="form-group">
  <label for="inputNetwork">Network</label>
  <select id="inputNetwork" class="form-control">
    <option selected>alexa-network</option>
    <option>some-other-network</option>
  </select>
</div>

<div class="form-group">
  <label for="inputDeviceType">Device type</label>
  <select id="inputDeviceType" class="form-control">
    <option selected>Thermostats</option>
    <option>Clocks</option>
  </select>
</div>

<div class="form-group">
  <label for="inputOperation">Operation</label>
  <select id="inputOperation" class="form-control">
    <option selected>Normal</option>
    <option>Blocked</option>
  </select>
</div>

<div class="form-group">
  <label for="textAreaData">Data (json)</label>
  <textarea class="form-control" id="textAreaData" rows="3"></textarea>
</div>
